{{ define "main" }}

<!-- hero area -->
<section class=" hero-area"
  style="background-image: url('images/backgrounds/hero.jpg'); background-position: right 80%; background-size: cover;"
  id="
  parallax">
  <!-- <div class="hero-image" style="background: --primary-color url(/images/portfolio/item-2.png) right no-repeat;"> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <!-- <img  src="{{.Site.Data.homepage.banner.image | safeURL }}" alt=""> -->
      </div>
      <div class="col-lg-8 mx-auto">
        <h1 class=" font-primary" style="text-align: end;">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
      </div>
      <!-- </div> -->
    </div>
    <div class="layer-bg w-100" style="height: 100%;">
      <!-- <img class="img-fluid w-100" src="{{`images/portfolio/item-4.png` | relURL}}" alt="bg-shape"> -->
    </div>
    <!--
  <div class="layer" id="l2">
    <img src="{{`images/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{`images/illustrations/leaf-orange.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{{`images/illustrations/dots-orange.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{`images/illustrations/leaf-yellow.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{`images/illustrations/leaf-cyan.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{{`images/illustrations/dots-group-orange.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{{`images/illustrations/leaf-cyan-2.svg` | relURL}}" alt="bg-shape">
  </div> -->
    <!-- social icon -->
    <!-- <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range .Site.Params.social }}
      <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul> -->
    <!-- /social icon -->
  </div>
</section>
<!-- /hero area -->

{{ if .Site.Data.homepage.about.enable }}
<!-- about -->
<section class="section ">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 px-auto pl-md-3">
    <div class="col-md-4 my-3 px-3">
      <img class="img-fluid" src="{{`images/about/author.jpg`|relURL}}" alt="bg-image">
    </div>
    <div class="col-md-8 flex-column align-items-center mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
      <!-- <div class="col-md-8 mx-auto flex-column align-items-center"> -->
      {{ with .Site.Data.homepage.about }}
      <h2 class="section-title">{{ .title | markdownify }}</h2>
      <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
      {{ if .button.enable }}
      {{ with .button }}
      <a href="{{ .URL | absURL }}" class="btn btn-dark my-3">{{.label}}</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
  </div>
</section>
<!-- /about -->
{{ end }}

{{ if .Site.Data.homepage.youtube.enable }}
<!-- about -->
<section class="section bg-primary ">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 px-auto pl-md-3">
    <div class="col-md-8 flex-column align-items-center mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
      <!-- <div class="my-3 p-3"> -->
      {{ with .Site.Data.homepage.youtube }}
      <h2 class="section-title">{{ .title | markdownify }}</h2>
      <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
      {{ if .button.enable }}
      {{ with .button }}
      <a class="btn btn-light mt-4 mb-4" href="{{ .URL | absURL }}">
        <img style="height: 30px;" src="{{`images/yt_logo_rgb_light.png`|relURL}}" alt="youtube-btn"></a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    <!-- <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden"> -->
    <div class="col-md-4 my-3 px-3">
      <img class="img-fluid" src="{{`images/about/author.jpg`|relURL}}" alt="bg-image">
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</section>
<!-- /about -->
{{ end }}


{{ if .Site.Data.homepage.skill.enable }}
{{ with .Site.Data.homepage.skill }}
<!-- skills -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="{{.color}}">
            <div class="wave" data-progress="{{.progress}}"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">{{.title }} ({{.progress}})</h4>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /skills -->
{{ end }}
{{ end }}

{{ if .Site.Data.homepage.experience.enable }}
{{ with .Site.Data.homepage.experience }}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{{.logo | relURL }}" alt="icon">
        <p class="mb-0">{{.duration}}</p>
        <h4>{{.title }}</h4>
        <h6 class="text-light">{{.company }}</h6>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /experience -->
{{ end }}
{{ end }}

{{ if .Site.Data.homepage.education.enable }}
{{ with .Site.Data.homepage.education }}
<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">{{.year}}</p>
            <h4>{{ .title }}</h4>
            <p class="mb-0 text-light">{{.academy}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="{{`images/backgrounds/education-bg.png`|relURL}}" alt="bg-image">
</section>
<!-- /education -->
{{ end }}
{{ end }}


{{ if .Site.Data.homepage.service.enable }}
{{ with .Site.Data.homepage.service }}
<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-md-4 mb-4">
        <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="{{.icon }} icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">{{.title}}</h4>
            <p>{{.content | markdownify}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /services -->
{{ end }}
{{ end }}


{{ if .Site.Data.homepage.portfolio.enable }}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Site.Data.homepage.portfolio.title | markdownify }}</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ $item:= .Site.Data.homepage.portfolio.item_show }}
      {{ range first $item .Site.Data.portfolio.item }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          {{ if and ( ne .project_url "" ) ( ne .project_url "#" ) }}
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ .project_url | safeURL }}">view project</a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->
{{ end }}


{{ if .Site.Data.homepage.testimonial.enable }}
{{ with .Site.Data.homepage.testimonial }}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {{ range .item }}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">{{.content | markdownify}}</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{.image | absURL }}" alt="client-image">
          <h4 class="text-white">{{.name }}</h4>
          <h6 class="text-light mb-4">{{ .designation }}</h6>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map">
  <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4">
  <img src="{{`images/illustrations/leaf-cyan.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5">
</section>
<!-- /testimonial -->
{{ end }}
{{ end }}


{{ if .Site.Data.homepage.clients_logo_slider.enable }}
<!-- client logo slider -->
<section class="section pb-0">
  <div class="container">
    {{ partial "client-slider.html" . }}
  </div>
</section>
<!-- /client logo slider -->
{{ end }}

{{ if .Site.Data.homepage.blog.enable }}
<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{.Site.Data.homepage.blog.title | markdownify }}</h2>
      </div>
      {{ range first 3 .Site.RegularPages }}
      {{ .Render "post" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /blog -->
{{ end }}


{{ end }}